@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@font-face {
  font-family: 'SFProText-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/Fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
  font-family: 'SFProText-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/Fonts/SF-Pro-Text-Medium.otf");
}

@font-face {
  font-family: 'SFProText-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/Fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: 'SFProText-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/Fonts/SF-Pro-Text-Light.otf");
}

.footer__title {
  padding: 3.2em 0 0.15em 1em;
  color: #2F3132;
  font-family: 'SFProText-Bold';
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: -0.38px;
  text-align: left;
}

.footer__wrapper {
  margin-top: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

.footer__group {
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__group:first-of-type {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  overflow: hidden;
}

.footer__pic {
  width: 100%;
}

.footer__subtitle {
  margin: 0;
  padding-top: 1.65rem;
  padding-left: 1.5rem;
  color: #2F3132;
  font-family: 'SFProText-Medium';
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -0.49px;
  text-align: left;
}

.footer__desc {
  margin-top: 0.6rem;
  padding: 0 1.9rem 0 1.5rem;
  color: #636363;
  font-family: 'SFProText-Regular';
  font-size: 14.4px;
  letter-spacing: -0.34px;
  line-height: 23px;
}

.footer__label {
  height: 22px;
  margin: 0;
  color: #2F3132;
  font-family: 'SFProText-Medium';
  font-size: 14.4px;
  font-weight: normal;
  letter-spacing: -0.34px;
  line-height: 17px;
  text-align: left;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list--sub {
  position: relative;
  height: 1px;
  padding-left: 1.5em;
  border-bottom: 1px solid #DEDEDE;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  z-index: -1;
  -webkit-transition: 300ms, z-index 1ms;
  transition: 300ms, z-index 1ms;
}

.footer__list--sub.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 125px;
  z-index: 1;
}

.footer__list--sub.active .footer__list-item--sub {
  height: 30px;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background: #FFFFFF;
  color: #179CE4;
  font-family: 'SFProText-Regular';
  font-size: 14.4px;
  border-bottom: 1px solid #DEDEDE;
  letter-spacing: -0.34px;
  line-height: 17px;
  text-align: left;
}

.footer__list-item:last-child {
  border: none;
  margin-bottom: 22px;
}

.footer__list-item--sub {
  position: relative;
  height: 1px;
  color: #616161;
  font-size: 12px;
  letter-spacing: -0.28px;
  line-height: 14px;
  text-align: left;
  z-index: -1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__list-item--sub:last-child {
  margin-bottom: 0px;
  border: none;
}

.footer__list-item:hover {
  cursor: pointer;
}

.footer__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #717171;
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__arrow.active {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.footer__arrow--open::after {
  content: '\e5cf';
  font-size: 26px;
}

.footer__arrow--more::after {
  content: '\f1df';
  padding-left: 0.5em;
  font-size: 16px;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 1.5rem;
  background: #FFFFFF;
  color: #179CE4;
  font-family: 'SFProText-Regular';
  font-size: 14.4px;
  letter-spacing: -0.34px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=footer.css.map */