@import './variables';

body{
    margin: 4em 124px 4em 142px;
}

.header{
    width: 535px;
    &__company{
        color: $linkColor;
        font-family: 'SFProText-Bold';
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        text-transform: lowercase;
    }
    &__title{
        margin-top: 1.34em;
        margin-bottom: 0;
        color: $textColor;
        font-family: 'SFProText-Bold';
        font-size: 48px;
        letter-spacing: -1.13px;
        text-align: left;
    }
    &__desc{
        margin: 0.64em 0;
        color: $textColor;
        font-family: 'SFProText-Light';
        font-size: 25px;
        letter-spacing: -0.59px;
        text-align: left;
    }
}
