@import './variables';

*{
    transition: 300ms;
}

.header{    
    &__company{
        color: $linkColor;
        font-family: 'SFProText-Bold';
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        text-transform: lowercase;
    }
    &__title{
        margin-top: 1.34em;
        margin-bottom: 0;
        color: $textColor;
        font-family: 'SFProText-Bold';
        letter-spacing: -1.13px;
        text-align: left;
        
    }
    &__desc{
        margin: 0.64em 0;
        color: $textColor;
        font-family: 'SFProText-Light';
        letter-spacing: -0.59px;
        text-align: left;
    }
}

@media (min-width: 375px){
    body{
        margin: 4em 1.7em;
    }
    .header{
        width: 100%;
        &__title{
            font-size: 2em;
        }
        &__desc{
            font-size: 1em;
        }
    }
}

@media (min-width: 810px){
    body{
        margin: 4em 4em;
    }
    .header{
        width: 75%;
        &__title{
            font-size: 3em;
        }
        &__desc{
            font-size: 1.5em;
        }
    }
}

@media (min-width: 1024px){
    body{
        margin: 4em 7.8em 4em 9em;
    }
    .header{
        width: 55%;
    }
}